environments:
  default:
  demo:
    values:
      - "helmfile/environments/demo/*.yaml.gotmpl"
    # secrets:
    #   - "helmfile/environments/{{ .Environment.Name }}/*.secrets.yaml"
  production:
    values:
      - "helmfile/environments/production/*.yaml.gotmpl"
    # secrets:
    #   - "helmfile/environments/{{ .Environment.Name }}/*.secrets.yaml"

bases:
  - "helmfile/bases/default.yaml.gotmpl"

---

helmfiles:
  - path: "helmfile/apps/grist/helmfile-child.yaml.gotmpl"
    values: &values
      - "helmfile/environments/default/*.yaml*"
      - {{ toYaml .Values | nindent 8 }}
  - path: "helmfile/apps/ollama/helmfile-child.yaml.gotmpl"
    values: *values
  - path: "helmfile/apps/keycloak/helmfile-child.yaml.gotmpl"
    values: *values
  - path: "helmfile/apps/chat/helmfile-child.yaml.gotmpl"
    values: *values
  - path: "helmfile/apps/video/helmfile-child.yaml.gotmpl"
    values: *values
