application:
  # grist is a modern spreadsheet application
  grist:
    enabled: true
    namespace: ~
    defaultLocale: ""
    sessionSecret: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD") "grist" "sessionSecret" | sha1sum | quote }}

  # this creates a self hosted AI LLM system using Ollama. It can handle small loads.
  ollama:
    enabled: true
    namespace: ~
    model: "llama3.2"
    gpu:
      enabled: false
      type:
      number:
      mig:
        enabled:
        devices:

  # keycloak is an identity and access management solution. If you have your own identity provider please disable this system and configure the OIDC settings in the authentication.yaml file.
  keycloak:
    enabled: true
    namespace: ~

  # chat is a matrix based chat solution
  chat:
    enabled: true
    namespace: ~
    synapse:
      architecture: monolith
      registrationSharedSecret: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD") "synapse" "registrationSharedSecret" | sha1sum | quote }}
      formSecret: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD") "synapse" "formSecret" | sha1sum | quote }}

  nextcloud:
    enabled: true
    namespace: ~

  # openproject is a project management and collaboration tool
  openproject:
    enabled: true
    namespace: ~
