authentication:

  # setup openID Connect (OIDC) authentication
  oidc:
    issuer: "https://id.kubernetes.local/realms/mijnbureau"
    authorization_endpoint: "https://id.kubernetes.local/realms/mijnbureau/protocol/openid-connect/auth"
    token_endpoint: "https://id.kubernetes.local/realms/mijnbureau/protocol/openid-connect/token"
    introspection_endpoint: "https://id.kubernetes.local/realms/mijnbureau/protocol/openid-connect/token/introspect"
    userinfo_endpoint: "https://id.kubernetes.local/realms/mijnbureau/protocol/openid-connect/userinfo"
    end_session_endpoint: "https://id.kubernetes.local/realms/mijnbureau/protocol/openid-connect/logout"
    jwks_uri: "https://id.kubernetes.local/realms/mijnbureau/protocol/openid-connect/certs"
    # Leave empty if the claim is not supplied.
    claims:
      username: preferred_username
      display_name: name
      given_name: given_name
      family_name: family_name
      # email field is required
      email: email
      email_verified: email_verified

  client:
    grist:
      client_id: "grist"
      client_secret: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD" ) "keycloak" "grist_client_secret" | sha1sum | quote}}
    synapse:
      client_id: "synapse"
      client_secret: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD" ) "keycloak" "synapse_client_secret" | sha1sum | quote}}
    nextcloud:
      client_id: "nextcloud"
      client_secret: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD" ) "keycloak" "nextcloud_client_secret" | sha1sum | quote}}
    openproject:
      client_id: "openproject"
      client_secret: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD" ) "keycloak" "openproject_client_secret" | sha1sum | quote}}
