autoscaling:
  horizontal:
    ollama:
      enabled: true
      minReplicas: 1
      maxReplicas: 3
      targetCPU: 80
      targetMemory: ""
    grist:
      enabled: false
      minReplicas: 1
      maxReplicas: 3
      targetCPU: 75
      targetMemory: ""
    keycloak:
      enabled: true
      minReplicas: 2
      maxReplicas: 3
      targetCPU: 75
      targetMemory: ""
    element:
      enabled: true
      minReplicas: 1
      maxReplicas: 3
      targetCPU: 75
    livekit:
      enabled: true
      minReplicas: 1
      maxReplicas: 3
      targetCPU: 60
      targetMemory: ""
  vertical:
    synapse:
        master:
          enabled: false
          annotations: {}
          controlledResources: []
          maxAllowed: {}
          minAllowed: {}
          updatePolicy:
            updateMode: Auto
        worker:
          default:
            enabled: false
            annotations: {}
            controlledResources: []
            maxAllowed: {}
            minAllowed: {}
            updatePolicy:
              updateMode: Auto
