cache:
  grist:
    host: "grist-redis-headless"
    port: 6379
    isInternal: true
    password: {{ derivePassword 1 "long" (env "MIJNBUREAU_MASTER_PASSWORD" | default "mijn-bureau") "redis" "password" | sha1sum | quote }}
  synapse:
    host: "chat-redis-master"
    port: 6379
    isInternal: true
    password: {{ derivePassword 1 "long" (env "MIJNBUREAU_MASTER_PASSWORD" | default "mijn-bureau") "synapse" "password" | sha1sum | quote }}
  livekit:
    host: "video-redis-master"
    port: 6379
    isInternal: true
    password: {{ derivePassword 1 "long" (env "MIJNBUREAU_MASTER_PASSWORD" | default "mijn-bureau") "livekit" "password" | sha1sum | quote }}
