chart:
  default:
    registry: ~

  postgresql:
    registry: registry-1.docker.io
    repository: "bitnamicharts"
    name: "postgresql"
    version: "16.7.18"
    verify: false
    oci: true
    username: ~
    password: ~

  redis:
    registry: registry-1.docker.io
    repository: "bitnamicharts"
    name: "redis"
    version: "21.2.6"
    verify: false
    oci: true
    username: ~
    password: ~

  minio:
    registry: registry-1.docker.io
    repository: "bitnamicharts"
    name: "minio"
    version: "17.0.11"
    verify: false
    oci: true
    username: ~
    password: ~

  keycloak:
    name: keycloak
    registry: registry-1.docker.io
    repository: bitnamicharts
    version: "24.6.7"
    verify: false
    oci: true
    username: ~
    password: ~

  memcached:
    registry: registry-1.docker.io
    repository: "bitnamicharts"
    name: "memcached"
    version: "7.0.2"
    verify: false
    oci: true
    username: ~
    password: ~

  openproject:
    name: openproject
    version: "10.7.0"
