container:
  default:
    registry: ~
    imagePullSecret: ~

  ollama:
    registry: "docker.io"
    repository: "ollama/ollama"
    tag: "0.9.5"
    imagePullSecret: ~

  keycloak:
    registry:  "docker.io"
    repository: bitnami/keycloak
    tag: 26.2.5-debian-12-r3
    imagePullSecret: ~

  keycloak_cli:
    registry:  "docker.io"
    repository: bitnami/keycloak-config-cli
    tag: 6.4.0-debian-12-r8
    imagePullSecret: ~

  grist:
    registry: "registry-1.docker.io"
    repository: "gristlabs/grist"
    tag: "1.6.1"
    imagePullSecret: ~

  minio:
    registry: "registry-1.docker.io"
    repository: "bitnami/minio"
    tag: "2025.7.18-debian-12-r0"
    imagePullSecret: ~

  minio_shell:
    registry: "registry-1.docker.io"
    repository: "bitnami/os-shell"
    tag: "12-debian-12-r49"
    imagePullSecret: ~

  minio_console:
    registry: "registry-1.docker.io"
    repository: "bitnami/minio-object-browser"
    tag: "2.0.2-debian-12-r1"
    imagePullSecret: ~

  postgres:
    registry: "registry-1.docker.io"
    repository: "bitnami/postgresql"
    tag: "17-debian-12"
    imagePullSecret: ~

  redis:
    registry: "registry-1.docker.io"
    repository: "bitnami/redis"
    tag: "8.0.3-debian-12-r1"
    imagePullSecret: ~

  elementweb:
    registry: "registry-1.docker.io"
    repository: "vectorim/element-web"
    tag: "v1.11.106"
    imagePullSecret: ~

  synapse:
    registry: "registry-1.docker.io"
    repository: "matrixdotorg/synapse"
    tag: "v1.133.0"
    imagePullSecret: ~

  osShell:
    registry: "registry-1.docker.io"
    repository: "bitnami/os-shell"
    tag: "12-debian-12-r46"

  livekit_server:
    registry: "registry-1.docker.io"
    repository: "livekit/livekit-server"
    tag: "v1.9"
    imagePullSecret: ~
