database:
  grist:
    type: postgresql
    host: grist-postgresql
    name: grist
    user: grist
    port: 5432
    isInternal: true
    password: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD" ) "grist" "database" | sha1sum | quote}}
    adminpassword: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD" ) "grist" "database_admin" | sha1sum | quote}}

  keycloak:
    name: keycloak
    host: keycloak-postgresql
    port: 5432
    user: keycloak
    password: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD" ) "keycloak" "database" | sha1sum | quote}}
    adminpassword: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD" ) "keycloak" "database_admin" | sha1sum | quote}}

  synapse:
    type: psycopg2
    name: synapse
    host: chat-postgresql
    port: 5432
    isInternal: true
    user: synapse
    password: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD" ) "synapse" "database" | sha1sum | quote}}
    adminpassword: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD" ) "synapse" "database_admin" | sha1sum | quote}}

  nextcloud:
    type: postgresql
    host: nextcloud-postgresql
    name: nextcloud
    user: nextcloud
    port: 5432
    isInternal: true
    password: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD" ) "nextcloud" "database" | sha1sum | quote}}
    adminpassword: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD" ) "nextcloud" "database_admin" | sha1sum | quote}}

  openproject:
    type: postgresql
    host: openproject-postgresql
    name: openproject
    user: openproject
    port: 5432
    isInternal: true
    password: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD" ) "openproject" "database" | sha1sum | quote}}
