# PVC are presistent volume claims that are used to store data that needs to persist across pod restarts.
pvc:
  default:
    storageClass: ~
    size: "1Gi"
    accessModes:
      - ReadWriteOnce

  ollama:
    storageClass: ~
    size: 15Gi
    accessModes: []

  grist:
    grist:
      storageClass: ~
      size: ~
      accessModes: []

    postgresql:
      storageClass: ~
      size: ~
      accessModes: []

    minio:
      storageClass: ~
      size: ~
      accessModes: []

    redis:
      storageClass: ~
      size: ~
      accessModes: []

  keycloak:
    keycloak:
      storageClass: ~
      size: ~
      accessModes: []

    postgresql:
      storageClass: ~
      size: ~
      accessModes: []

  synapse:
    synapse:
      storageClass: ~
      size: ~
      accessModes: []

    redis:
      storageClass: ~
      size: ~
      accessModes: []

    postgresql:
      storageClass: ~
      size: ~
      accessModes: []

  nextcloud:
    nextcloud:
      storageClass: ~
      size: ~
      accessModes: []

    postgresql:
      storageClass: ~
      size: ~
      accessModes: []

    minio:
      storageClass: ~
      size: ~
      accessModes: []

    redis:
      storageClass: ~
      size: ~
      accessModes: []

  openproject:
    openproject:
      storageClass: ~
      size: ~
      accessModes: []

    postgresql:
      storageClass: ~
      size: ~
      accessModes: []

    memcached:
      storageClass: ~
      size: ~
      accessModes: []
