secret:

  grist:
    adminEmail: you@example.com

  keycloak:
    adminUser: admin
    adminPassword: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD" ) "keycloak" "adminPassword" | sha1sum | quote}}

  nextcloud:
    adminUser: admin
    adminPassword: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD") "nextcloud" "adminPassword" | sha1sum | quote }}

  openproject:
    postgresPassword: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD") "openproject" "postgresPassword" | sha1sum | quote }}
